.navbar-light .navbar-toggler-icon {
  background-image: url("/rainfall-rescue-site/icons/navbar-toggler-icon.svg");
}

.rr-overflow-x-auto {
  overflow-x: auto;
}

.rr-icon {
  fill: currentColor;
  line-height: 1;
  vertical-align: -0.125rem;
}

.rr-background-color-0 {
  background-color: #ec9393 !important;
}

.rr-background-color-1 {
  background-color: #93ecad !important;
}

.rr-background-color-2 {
  background-color: #c793ec !important;
}

.rr-background-color-3 {
  background-color: #ece193 !important;
}

.rr-background-color-4 {
  background-color: #93ddec !important;
}

.rr-background-color-5 {
  background-color: #ec93c3 !important;
}

.rr-background-color-6 {
  background-color: #a9ec93 !important;
}

.rr-background-color-7 {
  background-color: #9693ec !important;
}

.rr-background-color-8 {
  background-color: #ecb093 !important;
}

.rr-background-color-9 {
  background-color: #93eccb !important;
}

.rr-background-color-10 {
  background-color: #e593ec !important;
}

.rr-background-color-11 {
  background-color: #d9ec93 !important;
}

.rr-background-color-12 {
  background-color: #93bfec !important;
}

.rr-background-color-13 {
  background-color: #ec93a5 !important;
}

.rr-background-color-14 {
  background-color: #93ec9a !important;
}

.rr-background-color-15 {
  background-color: #b493ec !important;
}

.rr-background-color-16 {
  background-color: #ecce93 !important;
}

.rr-background-color-17 {
  background-color: #93ece8 !important;
}

.rr-background-color-18 {
  background-color: #ec93d5 !important;
}

.rr-background-color-19 {
  background-color: #bbec93 !important;
}

.rr-info__button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.rr-info__popover {
  min-width: 25vw;
  max-width: 100%;
}

.rr-clearable-input {
  padding-right: 42px;
}

.rr-clearable-input__addon {
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  margin-left: -42px;
}

.rr-clearable-input__clear-button {
  font-size: 0.75rem;
}

.rr-icon-button {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background-color: #fff;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
  vertical-align: 0;
}

.rr-icon-button > svg {
  vertical-align: 0;
}

.rr-icon-button:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}

.rr-icon-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}

.rr-icon-button:disabled {
  pointer-events: none;
  user-select: none;
  opacity: 0.25;
}

.rr-location-history-line__version {
  font-weight: bold;
  flex-basis: 5rem;
}

.rr-location-history-line__changes {
  list-style-type: disc;
}

.rr-gauge-chart__container {
  height: 60vh;
}

.rr-gauge-chart__scroll-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 3rem;
  pointer-events: none;
}

.rr-gauge-chart__wrapper.rr-gauge-chart__wrapper--show-scroll-message .rr-gauge-chart__scroll-message {
  animation-name: rr-fade;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rr-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rr-gauge-tyr-file-key {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #dee2e6;
}

.rr-gauge-history-line__version {
  font-weight: bold;
  flex-basis: 5rem;
}

.rr-gauge-history-line__changes {
  list-style-type: disc;
}

.rr-gauges-table {
  table-layout: fixed;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .rr-gauges-table {
    border-collapse: separate;
    border-spacing: 0;
  }
  .rr-gauges-table > * > tr > td, .rr-gauges-table th {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #dee2e6;
  }
  .rr-gauges-table > * > tr > th {
    border-top-width: 1px;
  }
  .rr-gauges-table > * > tr > td:first-child, .rr-gauges-table th:first-child {
    border-left-width: 1px;
  }
  .rr-gauges-table > tbody > tr:first-child > td {
    border-top: 2px solid currentColor;
  }
  .rr-gauges-table .rr-frozen-column {
    position: sticky;
    left: 0;
    background-color: #fff;
  }
}
.rr-gauges-table__wrapper {
  min-width: 0;
  overflow-x: auto;
}

.rr-gauges-table__name {
  width: 300px;
}

.rr-gauges-table__counties {
  width: 250px;
}

.rr-gauges-table__start-year {
  text-align: right;
  width: 120px;
}

.rr-gauges-table__end-year {
  text-align: right;
  width: 120px;
}

.rr-gauges-table__elevation {
  text-align: right;
  width: 140px;
}

.rr-gauges-table__distance {
  text-align: right;
  width: 140px;
}

.rr-gauges-table__lon {
  text-align: right;
  width: 140px;
}

.rr-gauges-table__lat {
  text-align: right;
  width: 140px;
}

.rr-filter-county {
  overflow-y: auto;
  max-height: 50vh;
}

.rr-gauges-layout {
  display: flex;
  flex-direction: column;
}

.rr-gauges-layout__filter {
  flex: 1 1 auto;
}

.rr-gauges-layout__tabs-body {
  flex: 1 1 auto;
}

.rr-gauges-layout__table {
  min-width: auto;
  flex: 1 1 auto;
}

.rr-gauges-layout__map {
  min-width: auto;
  flex: 1 1 auto;
}

@media (min-width: 992px) {
  .rr-gauges-layout {
    flex-direction: row;
  }

  .rr-gauges-layout__filter {
    flex: 0 0 18rem;
  }

  .rr-gauges-layout__tabs-body {
    min-width: 0;
    flex: 1 1 0;
  }

  .rr-gauges-layout__table {
    min-width: 0;
    flex: 1 1 0;
  }

  .rr-gauges-layout__map {
    min-width: 0;
    flex: 1 1 0;
  }
}
.rr-gauges-table-data-download__button {
  width: 2rem;
  height: 2rem;
}

.rr-map__container {
  height: 80vh;
}

.rr-map__zoom-level {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.rr-single-gauge-list {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

.rr-single-gauge-list__item {
  display: block;
  padding-top: 0.25rem;
}

.rr-suggest-input__suggestion-active {
  color: #1e2125;
  background-color: #e9ecef;
}

.rr-table__frozen-column {
  border-collapse: separate;
  border-spacing: 0;
}
.rr-table__frozen-column > * > tr > td, .rr-table__frozen-column th {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #dee2e6;
}
.rr-table__frozen-column > * > tr > th {
  border-top-width: 1px;
}
.rr-table__frozen-column > * > tr > td:first-child, .rr-table__frozen-column th:first-child {
  border-left-width: 1px;
}
.rr-table__frozen-column > tbody > tr:first-child > td {
  border-top: 2px solid currentColor;
}
.rr-table__frozen-column .rr-frozen-column {
  position: sticky;
  left: 0;
  background-color: #fff;
}

.rr-table__sort-icon {
  color: rgba(0, 0, 0, 0.5);
}

.rr-table__sort-button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.rr-table__sort-button:focus, .rr-table__sort-button:active {
  outline: none;
}

.rr-display-columns__label {
  cursor: pointer;
}

.rr-display-columns__label--disabled {
  opacity: 0.5;
}

.rr-display-columns__item {
  cursor: pointer;
}