.rr-gauge-chart-container {
  height: 60vh;
}

.rr-gauge-chart-scroll-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 3rem;
  pointer-events: none;
}

.rr-gauge-chart-wrapper.rr-gauge-chart-show-scroll-message .rr-gauge-chart-scroll-message {
  animation-name: rr-fade;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes rr-fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}